name: {{cluster}}
environment: dev
region: {{region}}
zone: {{zone}}
district: {{district}}
store: {{cluster}}
domain: {{fqdn}}
ingressType: {{ingressType}}
gitopsRepo: {{repo}}
gitopsBranch: {{branch}}
