{
    "swagger": "2.0",
    "info": {
        "title": "SKU Manager",
        "version": "1.0"
    },
    "host": "sku.cseretail.com",
    "basePath": "/",
    "consumes": [],
    "produces": [],
    "parameters": {},
    "responses": {},
    "securityDefinitions": {},
    "security": [],
    "tags": [
        "SkuManager"
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/api/v1/skus": {
            "get": {
                "tags": [
                    "SKUs",
                    "SKU"
                ],
                "summary": "Get all SKUs",
                "description": "Get all SKUs",
                "operationId": "GetSKUs",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SKU"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "SKUs",
                    "SKU"
                ],
                "summary": "Add SKU",
                "description": "Add SKU",
                "operationId": "AddSKU",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "sku",
                        "schema": {
                            "$ref": "#/definitions/SKU"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        },
        "/api/v1/skus/{id}": {
            "get": {
                "tags": [
                    "SKUs",
                    "SKU"
                ],
                "summary": "Get SKU by Id",
                "description": "Get SKU by Id",
                "operationId": "GetSKUById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SKU"
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "SKUs",
                    "SKU"
                ],
                "summary": "Delete SKU",
                "description": "Delete SKU",
                "operationId": "DeleteSKU",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "put": {
                "tags": [
                    "SKUs",
                    "SKU"
                ],
                "summary": "Update SKU",
                "description": "Update SKU",
                "operationId": "UpdateApp",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "sku",
                        "schema": {
                            "$ref": "#/definitions/SKU"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                }
            }
        }
    },
    "definitions": {
        "SKU": {
            "type": "object",
            "properties": {
                "sku": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 20,
                    "title": "SKU Id",
                    "description": "SKU Id"
                },
                "id": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 15,
                    "title": "Short Name",
                    "description": "SKU Short Name"
                },
                "name": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 20,
                    "title": "Name",
                    "description": "SKU Name"
                },
                "description": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 20,
                    "title": "Description",
                    "description": "SKU Descrription"
                },
                "categoryId": {
                    "type": "string",
                    "title": "Category Id",
                    "description": "SKU Category Id",
                    "default": "SoftDrinks",
                    "enum": [
                        "SoftDrinks",
                        "Chips",
                        "Snacks",
                        "Grocery",
                        "Candy",
                        "Dairy",
                        "Grill"
                    ]
                },
                "price": {
                    "type": "number",
                    "format": "double",
                    "title": "Price",
                    "description": "SKU Price"
                }
            },
            "required": [
                "sku",
                "id",
                "name",
                "description",
                "categoryId",
                "price"
            ],
            "example": {
                "sku": 1234101,
                "id": "coke12",
                "name": "Coke 12 oz can",
                "description": "Coke 12 oz can",
                "categoryId": "SoftDrinks",
                "price": 1.09
            }
        }
    },
    "x-sample-data": {
        "Skus": {
            "coke12": {
                "sku": 1234101,
                "id": "coke12",
                "name": "Coke 12 oz can",
                "description": "Coke 12 oz can",
                "categoryId": "SoftDrinks",
                "price": 1.09
            },
            "coke20": {
                "sku": 1234102,
                "id": "coke20",
                "name": "Coke 20 oz bottle",
                "description": "Coke 20 oz bottle",
                "categoryId": "SoftDrinks",
                "price": 2.19
            },
            "dietcoke12": {
                "sku": 1234103,
                "id": "dietcoke12",
                "name": "Diet Coke 12 oz can",
                "description": "Diet Coke 12 oz can",
                "categoryId": "SoftDrinks",
                "price": 1.09
            },
            "dietcoke20": {
                "sku": 1234104,
                "id": "dietcoke20",
                "name": "Diet Coke 20 oz bottle",
                "description": "Diet Coke 20 oz bottle",
                "categoryId": "SoftDrinks",
                "price": 2.19
            },
            "dp12": {
                "sku": 1234105,
                "id": "dp12",
                "name": "Dr Pepper 12 oz can",
                "description": "Dr Pepper 12 oz can",
                "categoryId": "SoftDrinks",
                "price": 1.09
            },
            "dp20": {
                "sku": 1234106,
                "id": "dp20",
                "name": "Dr Pepper 20 oz bottle",
                "description": "Dr Pepper 20 oz bottle",
                "categoryId": "SoftDrinks",
                "price": 2.19
            },
            "dietdp12": {
                "sku": 1234107,
                "id": "dietdp12",
                "name": "Diet Dr Pepper 12 oz can",
                "description": "Diet Dr Pepper 12 oz can",
                "categoryId": "SoftDrinks",
                "price": 1.09
            },
            "dietdp20": {
                "sku": 1234108,
                "id": "dietdp20",
                "name": "Diet Dr Pepper 20 oz bottle",
                "description": "Diet Dr Pepper 20 oz bottle",
                "categoryId": "SoftDrinks",
                "price": 2.19
            }
        }
    }
}
